.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display:none;
}

div.playback {
  font-size: 13px;
  width: 1000px;
  height: 800px;
  display:block;
}

.new {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -transition: all 1s ease-in-out;
}

.old {
  max-height: 16px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -transition: all 1s ease-in-out;
}

.show {
  max-height: 16px;
  opacity: 1;
}

.hide {
  max-height: 0px;
  opacity: 0;
}

ul {
  list-style: none;
}

li {
  float: left;
}

pre {
  min-width: 480px;
}
