.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display:none;
}

.container div {
  width: 1000px;
  height: 800px;
  display:block;
}

body {
  background: #272822;
}

ul {
  list-style: none;
}

li {
  float: left;
}

pre {
  min-width: 480px;
}
